<!-- <p>levels works!</p> -->
<!-- <p>customers works!</p> -->
<!-- <p>category works!</p> -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div style="display: flex">
                    <h4 style="flex-grow: 1" class="card-title">Levels</h4>
                    <div class="update ml-auto mr-auto">
                        <button type="submit" (click)="add()" class="btn btn-primary btn-round">Add
                            Levels</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>Name</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of AllLevels">
                                <td>{{item.name}} </td>
                                <td class="text-right">
                                    <div style="display: flex;text-align: right">
                                        <p class="text-success" (click)="edit(item)">EDIT</p>
                                        <p style="margin-left: 10px;" class="text-danger" (click)="delete(item.id)">
                                            DELETE</p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


<!--modals starts from here-->


<!--<button class="btn btn-lg btn-outline-primary" (click)="openEditTeacher()">Launch demo modal</button>-->

<hr>

<!--<pre>{{ closeResult }}</pre>-->
<!--modals end from here-->