<!-- <p>sales-representative works!</p> -->
<!-- <p>subcategory works!</p> -->
<div class="row">
    <div class="col-md-12">
        <div class="card p-2">
            <div class="card-header">
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="form-group">
                        <label>Name</label>
                        <input [(ngModel)]="name" class="form-control" placeholder="Enter Name" type="text">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="update ml-auto mr-auto">
                        <button *ngIf="addbtn" type="submit" (click)="addSpecialProduct()" class="btn btn-primary btn-round">Add
                            Special Product</button>
                        <button *ngIf="updatebtn" type="submit" (click)="updateSpecialProduct()" class="btn btn-primary btn-round">Update
                            Special Product</button>
                    </div>
                </div>
               
            </div>

        
            <!-- <div class="form-group">
                <label>state</label>
                <input [(ngModel)]="state" class="form-control" placeholder="Enter state" type="text">
            </div> -->

          
            <br>


            <table class="table">
                <thead class=" text-primary">
                    <th>
                        Name
                    </th>
                   
                    <th>
                        Action
                    </th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of SpecialProduct; index as i">
                        <td> {{item.name}} </td>
                       
                        <td class="text-right">
                            <div style="display: flex;text-align: right">
                                <p class="text-success" (click)="editSpecialProduct(item)">EDIT</p>
                                <p style="margin-left: 10px;" class="text-danger"
                                    (click)="deleteSpecialProduct(item.id)">
                                    DELETE</p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


<!--modals starts from here-->


<!--<button class="btn btn-lg btn-outline-primary" (click)="openEditTeacher()">Launch demo modal</button>-->

<hr>

<!--<pre>{{ closeResult }}</pre>-->
<!--modals end from here-->