<div class="m-0 p-0">
    <div class="d-flex justify-content-end">
        <div class="mr-auto">
            <h4 class="m-3">Oem Section 1</h4>
        </div>
        <div>
            <button (click)="close()" aria-label="Close" class="close m-3" style="zoom: 1.2; outline: none;"
                type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
<div class="modal-body">

    <div class="form-group">
        <label>Title</label>
        <input [(ngModel)]="title" class="form-control" placeholder="Enter Title" type="text">
    </div>
    <div class="form-group">
        <label>Main Description</label>
        <input [(ngModel)]="maindesc" class="form-control" placeholder="Enter Url" type="text">
    </div>

    <div class="form-group">
        <label>Description</label>
        <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="description"></angular-editor>
    </div>


    <div style="position: relative;">
        <label>Image Size: 1333 x 400 px</label>
        <img [src]="showImageUrl"
            style="width: 100px; height: 100px; border-radius: 10px; margin: auto; display: block;" alt="">

        <label class="btn btn-default btn-sm center-block btn-file m-0" style="position: absolute; bottom: -5px;
                    left: 50%;
                    transform: translate(0%, -50%, 0%, -50%);">
            <i class="fa fa-upload fa-2x text-white" aria-hidden="true"></i>
            <input type="file" (change)="selectImage($event)" style="display: none;">
        </label>
    </div>

</div>
<div class="modal-footer">
    <button (click)="saveOemSec1()" class="btn btn-outline-dark" type="button">Save</button>
</div>