<!-- <p>category works!</p> -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div style="display: flex">
                    <h4 style="flex-grow: 1" class="card-title">category</h4>
                    <div class="update ml-auto mr-auto">
                        <button type="submit" (click)="addcat()" class="btn btn-primary btn-round">Add
                            category</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                name
                            </th>
                            <th>
                                Image
                            </th>
                            <th>
                                Banner
                            </th>
                            <th>
                                Action
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of list_cat; index as i">
                                <td> {{item.name}} </td>
                                <td> <img [src]="item.image" style="width: 50px; height: 50px" /> </td>
                                <td> <img [src]="item.banner" style="width: 100px; height: 50px" /> </td>

                                <td class="text-right">
                                    <div style="display: flex;text-align: right">
                                        <p class="text-success" (click)="editcat(item)">EDIT</p>
                                        <p style="margin-left: 10px;" class="text-danger" (click)="deletecat(item.id)">
                                            DELETE</p>
                                        <p style="margin-left: 10px;" class="text-warning" (click)="AddSubcat(item.id)">
                                            SUB CATEGORY</p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


<!--modals starts from here-->


<!--<button class="btn btn-lg btn-outline-primary" (click)="openEditTeacher()">Launch demo modal</button>-->

<hr>

<!--<pre>{{ closeResult }}</pre>-->
<!--modals end from here-->