<!-- <p>privacy-policy works!</p> -->


<button class="btn btn-primary" routerLink="/oem-contact">oem contact</button>

<button class="btn btn-primary" routerLink="/oem-locations">oem locations</button>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div style="display: flex">
                    <h4 style="flex-grow: 1" class="card-title">Oem Section 1</h4>
                    <!--<div class="update ml-auto mr-auto">
                        <button type="submit" (click)="addOemSec1()" class="btn btn-primary btn-round">Add Oem Section 1</button>
                    </div>-->
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                Title
                            </th>

                            <th>
                                Description
                            </th>
                            <th>
                                Main Description
                            </th>

                            <th>
                                Banner
                            </th>
                            <th>
                                Action
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of list_oemsec1; index as i">
                                <td> {{item.title}} </td>
                                <td> {{item.description | slice:0:50}}.. </td>

                                <td> {{item.maindesc | slice:0:50}}..</td>

                                <td> <img [src]="item.image" style="width: 50px; height: 50px" /> </td>

                                <td class="text-right">
                                    <div style="display: flex;text-align: right">
                                        <p class="text-success" (click)="editOemSec1(item)">EDIT</p>
                                        <!-- <p style="margin-left: 10px;" class="text-danger" (click)="deleteOemSec1(item.id)">DELETE</p>-->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="card">
    <div class="card-header">
        <div style="display: flex">
            <h4 style="flex-grow: 1" class="card-title">Oem Section 2</h4>
            <!--<div class="update ml-auto mr-auto">
                <button type="submit" (click)="addOemSec1()" class="btn btn-primary btn-round">Add Oem Section 1</button>
            </div>-->
        </div>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label>Title</label>
            <input type="text" [(ngModel)]="title" class="form-control" placeholder="Enter Title">
        </div>
        <div class="form-group">
            <label>Description</label>
            <!-- <label>Terms And Conditions</label> -->
            <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="description"></angular-editor>
            <button class="btn btn-primary" (click)="save()">Save</button>
        </div>
    </div>
</div>
<!--modals starts from here-->


<!--<button class="btn btn-lg btn-outline-primary" (click)="openEditTeacher()">Launch demo modal</button>-->

<hr>

<!--<pre>{{ closeResult }}</pre>-->
<!--modals end from here-->