<!-- <p>alerts works!</p> -->
<div class="d-flex" style="margin: 10px auto; width: auto;">
    <button class="btn tabs_btn  rounded-0 text-uppercase" [ngClass]="{'active': Customers_tab}"
        (click)="openCustomers()">Customers
    </button>

    <button class="btn tabs_btn  rounded-0 text-uppercase" [ngClass]="{'active': Agents_tab}"
        (click)="openAgents()">Agents
    </button>
</div>

<div class="row" *ngIf="Customers_tab">
    <div class="col-md-12" *ngFor="let item of allCustomers">
        <div>
            <div class="card" (click)="openUser(item)">
                <div class="p-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <img src="/assets/img/bell.png" style="width: 40px;" alt="">
                            </div>
                            <div class="col">
                                <p class="mb-0">Customer Request Registeration.</p>
                                <p class="mb-0" style="font-weight: 600;">{{item.created_at | date:'dd-MMM-yyyy hh:mm
                                    a'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="Agents_tab">
    <div class="col-md-12" *ngFor="let item of allAgents">
        <div>
            <div class="card" (click)="openUser(item)">
                <div class="p-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <img src="/assets/img/bell.png" style="width: 40px;" alt="">
                            </div>
                            <div class="col">
                                <p class="mb-0">Agent Request Registeration.</p>
                                <p class="mb-0" style="font-weight: 600;">{{item.created_at | date:'dd-MMM-yyyy hh:mm
                                    a'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>