<!-- <p>add-products works!</p> -->
<div class="modal-body">
    <button (click)="close()" aria-label="Close" class="close" style="zoom: 1.2; outline: none;" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    <br>
    <br>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="form-group">
                <label>Category</label>
                <select class="form-control" [(ngModel)]="category_id" (change)="oncatchange()">
                    <option selected>select category_id</option>
                    <option [value]="data.id" *ngFor="let data of allcat">{{data.name}}</option>
                </select>
            </div>
        </div>



        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="form-group">
                <label>Sub Cat</label>
                <!-- <p>{{sub_cat_id}}</p> -->
                <select class="form-control" [(ngModel)]="sub_cat_id" (change)="onsubcatchange()">
                    <option selected>select sub_cat_id</option>
                    <option [value]="data.id" *ngFor="let data of allsubcat">{{data.subname}}</option>
                </select>
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="form-group">
                <label>Sub Sub Cat</label>
                <!-- <p>{{subsub_cat_id}}</p> -->
                <select class="form-control" [(ngModel)]="subsub_cat_id">
                    <option selected>select subsub_cat_id</option>
                    <option [value]="data.id" *ngFor="let data of allsubsubcat">{{data.subsubname}}</option>
                </select>
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div *ngIf="allapplication.length">
                <label>Application Id</label>
                <ngx-multiple-select [enableAll]="true" [enableSearch]="true" [label]="'display'" [value]="'id'"
                    [placeholder]="'Select Application Id'" [selectedData]="selectedApp" [sourceData]="allapplication"
                    (onSelect)="onSelect($event)">
                </ngx-multiple-select>
            </div>
        </div>


        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="form-group">
                <label>Product Name</label>
                <input [(ngModel)]="product_name" class="form-control" placeholder="Enter Product Name" type="text">
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="form-group">
                <label>Title</label>
                <input [(ngModel)]="title" class="form-control" placeholder="Enter Title" type="text">
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div style="position: relative;">
                <label>Image Size: 343 x 250 px</label>
                <img [src]="showImageUrl"
                    style="width: 100px; height: 100px; border-radius: 10px; margin: auto; display: block;" alt="">
                <label class="btn btn-default btn-sm center-block btn-file m-0" style="position: absolute; bottom: -5px;
                            left: 50%;
                            transform: translate(0%, -50%, 0%, -50%);">
                    <i class="fa fa-upload fa-2x text-white" aria-hidden="true"></i>
                    <input type="file" (change)="selectImage($event)" style="display: none;">
                </label>
            </div>
            <br>
            <div class="text_overflow">
                <label>DataSheet</label>
                <input type="file" (change)="selectDataSheet($event)" class="text_overflow">
                <p *ngIf="hidedatasheet" class="text_overflow">{{datasheetURL}}</p>
                <button class="btn btn-secondary btn-sm" (click)="deldatasheet()">Remove</button>
            </div>
        </div>

        <br>
        <br>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="form-group">
                <label>features</label>
                <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="features"></angular-editor>
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="form-group">
                <label>description</label>
                <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="description"></angular-editor>
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="form-group">
                <label>application</label>
                <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="application"></angular-editor>
            </div>
        </div>
        <div class="col-xl-12 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="form-group ml-5">
                <input class="form-check-input" type="checkbox" value="" id="active" [(ngModel)]="active">
                <label class="form-check-label" for="active">
                    Active
                </label>
            </div>
            <div class="form-group ml-5">
                <input class="form-check-input" type="checkbox" value="" id="featured" [(ngModel)]="featured">
                <label class="form-check-label" for="featured">
                    Featured
                </label>
            </div>
            <div class="form-group ml-5">
                <input class="form-check-input" type="checkbox" value="" id="new_pro" [(ngModel)]="new_pro">
                <label class="form-check-label" for="new_pro">
                    New Product
                </label>
            </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <label><b> ADDITIONAL DATA & ACCESSORIES </b></label>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="border">
                <img [src]="showImage2Url"
                    style="width: 100px; height: 100px; border-radius: 10px; margin: auto; display: block;" alt="">
                <input type="file" (change)="selectImage2($event)" #Image2>
                <button class="btn btn-secondary btn-sm" (click)="delimage2()">Delete</button>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="border">
                <img [src]="showImage3Url"
                    style="width: 100px; height: 100px; border-radius: 10px; margin: auto; display: block;" alt="">
                <input type="file" (change)="selectImage3($event)">
                <button class="btn btn-secondary btn-sm" (click)="delimage3()">Remove</button>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="border">
                <img [src]="showImage4Url"
                    style="width: 100px; height: 100px; border-radius: 10px; margin: auto; display: block;" alt="">
                <input type="file" (change)="selectImage4($event)">
                <button class="btn btn-secondary btn-sm" (click)="delimage4()">Remove</button>
            </div>
        </div>
        <div style="position: relative;">
            <label>Banner size: 6054 x 2458 px</label>
            <img [src]="showBannerUrl"
                style="width: 100px; height: 100px; border-radius: 10px; margin: auto; display: block;" alt="">

            <label class="btn btn-default btn-sm center-block btn-file m-0" style="position: absolute; bottom: -5px;
                        left: 50%;
                        transform: translate(0%, -50%, 0%, -50%);">
                <i class="fa fa-upload fa-2x text-white" aria-hidden="true"></i>
                <input type="file" (change)="onselectBanner($event)" style="display: none;">
            </label>
        </div>

    </div>

    <div class="modal-footer">
        <button (click)="saveprod()" class="btn btn-outline-dark" type="button">Save</button>
    </div>
</div>