input[type='file'] {
    color: rgba(0, 0, 0, 0)
}

.text_overflow {
    width        : 400px;
    overflow     : hidden;
    text-overflow: ellipsis;
}

.border{
    width: 100%;
    height: 100%;
    border: solid 1px black;
}

.border img{
    width: 100%;
    height: 100%;
}