<!-- <p>add-customers works!</p> -->
<div class="modal-body">
    <button (click)="close()" aria-label="Close" class="close" style="zoom: 1.2; outline: none;" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    <br>
    <br>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="form-group">
                <label>Name</label>
                <input [(ngModel)]="name" class="form-control" placeholder="Enter Name" type="text">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="save()" class="btn btn-outline-dark" type="button">Save</button>
    </div>
</div>