<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div style="display: flex">
                    <h4 style="flex-grow: 1" class="card-title">Oem Contacts</h4>
                    <div class="update ml-auto mr-auto">
                        <button type="submit" (click)="addOemContact()" class="btn btn-primary btn-round">Add Oem Contacts</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>
                            Country
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Email
                        </th>
                        
                        <th>
                            Phone
                        </th>
                        <th>
                            Position
                        </th>
                        <th>
                            Address
                        </th>
                        
                        
                        <th >
                            Action
                        </th>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of list_oemContact; index as i">
                            <td> {{item.country}} </td>
                            <td> {{item.name}} </td>
                            <td> {{item.email}} </td>
                            <td> {{item.phone}} </td>
                            
                            <td> {{item.position}}</td>
                            <td> {{item.address}}</td>

                            <td class="text-right">
                                <div style="display: flex;text-align: right">
                                    <p class="text-success" (click)="editOemContact(item)">EDIT</p>
                                <p style="margin-left: 10px;" class="text-danger" (click)="deleteOemContact(item.id)">DELETE</p>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


<!--modals starts from here-->


<!--<button class="btn btn-lg btn-outline-primary" (click)="openEditTeacher()">Launch demo modal</button>-->

<hr>

<!--<pre>{{ closeResult }}</pre>-->
<!--modals end from here-->
