<!-- four boxes of chefContent -->
<div *ngIf="chefContent">
  <!-- <h1>chef</h1> -->
  <div class="row">
    
    
    
  
  </div>
</div>

<!-- four boxes of adminContent -->

<div class="row" style="display: none;">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Users Behavior</h5>
        <p class="card-category">24 Hours performance</p>
      </div>
      <div class="card-body ">
        <canvas id=chartHours width="400" height="100"></canvas>
      </div>
    </div>
  </div>
</div>
