<!-- <p>catalogs works!</p> -->
<!-- <p>category works!</p> -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div style="display: flex">
                    <h4 style="flex-grow: 1" class="card-title">Catalogs</h4>
                    <div class="update ml-auto mr-auto">
                        <button type="submit" (click)="addcata()" class="btn btn-primary btn-round">Add
                            Catalogs</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                Title
                            </th>
                            <th>
                                Image
                            </th>
                            <th>
                                PDF
                            </th>
                            <th>
                                Action
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of list_cat; index as i">
                                <td> {{item.title}} </td>
                                <td> <img [src]="apiService.BASE_IMAGE_URL + item.image"
                                        style="width: 50px; height: 50px" /> </td>
                                <td> {{item.pdf}} </td>

                                <td class="text-right">
                                    <div style="display: flex;text-align: right">
                                        <p class="text-success" (click)="editcata(item)">EDIT</p>
                                        <p style="margin-left: 10px;" class="text-danger" (click)="deletecata(item.id)">
                                            DELETE</p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


<!--modals starts from here-->


<!--<button class="btn btn-lg btn-outline-primary" (click)="openEditTeacher()">Launch demo modal</button>-->

<hr>

<!--<pre>{{ closeResult }}</pre>-->
<!--modals end from here-->